<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test">
        <parameter name="device" value="SAMSUNG_A33"/>
        <parameter name="app" value="APIDEMO"/>
        <classes>
            <class name="appium02.Test1">
                <methods>
                    <include name="test1"/>
                    <include name="test4_swipeUntil"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>