<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test1">
        <parameter name="Device" value="SAMSUNG_A33"/>
        <parameter name="App" value="APIDEMO"/>
        <classes>
            <class name="appium3Cucumber.runner.Runner"/>
        </classes>
    </test>
</suite>